body {
    margin: 0 auto;
    background: black;
    font-family: 'Playfair Display', serif;
}

nav {
    width: 100vw;
    height: 12vh;
    padding-top: 0.5em;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(58,145,255,1) 50%, rgba(0,0,0,1) 100%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.topnav {
    display: grid;
    justify-items: center;
    grid-template-columns: 60fr 40fr;
    grid-column-gap: 5em;
    padding-top: 1.5em;

}

.navButtons {
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px gray;
    text-decoration: none;
    color: black;
}

header {
    display: grid;
    justify-items: center;
    width: 100vw;
    height: 1vh;
}

#slide1, #slide2, #slide3, #slide4 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    z-index: 1;
}

#slide1 {
    background-image: url("drums1.jpeg");
    animation-name: fade;
}
#slide2 {
    background-image: url("piano1.jpeg");
    animation-name: fade2;
}
#slide3 {
    background-image: url("drums2.jpeg");
    animation-name: fade3;
}
#slide4 {
    background-image: url("piano2.jpeg");
    animation-name: fade4;
}

header h1 {
    color: rgb(0, 0, 0);
    font-weight: lighter;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    text-align: center;
    font-size: 3em;
    padding-top: 7em;
    z-index: 10;

}

header span {
    font-size: 0.7em;
}

@media (max-width: 720px) {

}

/* Set up keyframes for picture animations */

@keyframes fade {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade2 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade3 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade4 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
