html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background: white;
    font-family: 'Fredericka the Great', cursive;
    overflow-x: hidden;
}

#navbar {
    width: 100vw;
    height: 8vh;
    padding-top: 0.5em;
    background: linear-gradient(180deg, rgba(87,87,87,1) 0%, rgba(87,87,87,0) 100%);
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
    position: fixed;
    z-index: 7;
    overflow: hidden;
}

#navbar img {
    height: 2em;
    width: 2em;
    display: none;
}

.navButtons {
    padding-top: 0.7em;
    font-family: 'Josefin Slab', serif;
    font-size: 1.5em;
    font-weight: lighter;
    text-shadow: 2px 2px 2px rgb(0, 0, 0), 2px 2px 5px rgb(255, 255, 255);
    text-decoration: none;
    color: white;
}

.navButtons:hover {
    font-weight: bold;
    animation-name: buttonFade;
    animation-duration: 0.5s;
}

#home:hover { color: rgb(96, 96, 255);}
#about:hover {color: yellow;}
#resources:hover {color: red;}
#reviews:hover {color: green;}
#pricing:hover {color: rgb(199, 0, 199);}
#comingSoon:hover {color: orange;}

#logo {
    margin-top: 5em; 
    height: 14em;
    width: 14em;
    z-index: 5;
}

header {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    overflow: hidden;
    box-shadow: 5px 5px 5px gray;
}

#slide1, #slide2, #slide3, #slide4 {
    position: absolute;
    height: 100%;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    z-index: 1;
    
}

#slide1 {
    background-image: url("drums1.jpeg");
    animation-name: fade;
}
#slide2 {
    background-image: url("piano1.jpeg");
    animation-name: fade2;
}
#slide3 {
    background-image: url("drums2.jpeg");
    animation-name: fade3;
}
#slide4 {
    background-image: url("piano2.jpeg");
    animation-name: fade4;
}

header h1 {
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-family: 'Fredericka the Great', cursive;
    text-shadow: 2px 2px 3px rgb(0, 0, 0), 3px 3px 4px rgb(222, 0, 252), 3px 3px 4px white;
    text-align: center;
    font-size: 5em;
    z-index: 5;
}

#secondRow {
    font-size: 0.7em;
}

#thirdRow {
    font-size: 0.3em;
}

#blockSection h3 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: lighter;
}

.sections {
    padding: 1.5em;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    box-shadow: 5px 5px 5px gray;
}

#aboutSection {
    color: white;
    background: linear-gradient(0deg, rgba(204,43,94,1) 0%, rgba(117,58,136,1) 100%);
    margin: 4em 0 2em 0;
    padding: 10em 6em 10em 6em;
}

#aboutSection p {
    font-size: 2em;
}

#aboutSection h3 {
    color: black;
    font-size: 2em;
}

.twoParts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em 5em;
}

#resourcesSection {
    color: white;
    font-weight: bold;
    background: linear-gradient(0deg, rgba(2,170,176,1) 0%, rgba(0,205,172,1) 100%);
    font-size: 2em;
    padding: 3em 0em 3em 0em;
}

#resourcesSection h3 {
    color: black;
}

#reviewSection {
    padding: 1em 8em 0 8em;
    height: 70vh;
    color: white;
    font-size: 1.5em;
    background: url("GuitarBackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: fadeIn;
    animation-duration: 1s;
    overflow-y: auto;
}

#comingSoonSection {
    color: white;
    background: linear-gradient(180deg, rgba(241,39,17,1) 0%, rgba(245,175,25,1) 100%);
    margin: 4em 0 4em 0;
    font-size: 2em;
}

#comingSoonSection h3 {
    color: black;
}

.fontChange {
    font-family: 'Fredericka the Great', cursive;
}

#pricingSection {
    color: white;
    margin: 4em 0 4em 0;
    padding: 2em 0 2em 0;
    font-weight: bold;
    font-size: 1em;
    background: linear-gradient(0deg, rgba(151,150,240,1) 0%, rgba(251,199,212,1) 100%);
}

#pricingSection h3 {
    color: black;
    font-size: 2em;
}

#pricingSection p {
    font-size: 1.8em;
}

#contactSection {
    margin-top: 1.5em;
    padding: 1em 0 1em 0;
    font-size: 1.5em;
    background: rgb(102, 102, 102);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

#contactSection img {
    height: 1.8em;
    background: white;
    border-radius: 2em;
}

#locations {
    font-size: 0.8em;
}

#bottomFooter {
    color: white;
    padding: 0.5em 0 0.5em 0;
    background: rgb(61, 61, 61);
    text-align: center;
}

#formButton {
    color: white;
    padding-right: 1em;
    font-family: 'Josefin Slab', serif;
    font-size: 1em;
    background: rgb(150, 150, 150);
    position: fixed;
    display: grid;
    width: 30vw;
    text-align: center;
    bottom: 35;
    z-index: 12;
    opacity: 1;
    border-radius: 0 1em 1em 0;
    box-shadow: 1px 1px 3px rgb(255, 255, 255), 3px 3px 3px black;
}

.picGrids {
    margin: 4em 0 4em 0;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4, 1fr);
}

.picGrids img {
    width: 100%;
}

#pic1 {
    grid-area: 1 / 1 / 3 / 4;
}

#pic2 {
    height: 100%;
    grid-area: 1 / 4  / 3 / 6;
}

#pic3 {
    height: 100%;
    grid-area: 3 / 1 / 6 / 3;
}

#pic4 {
    grid-area: 3 / 3 / 6 / 6;
}

#pic5 {
    grid-area: 1 / 1 / 3 / 4;
}

#pic6 {
    height: 100%;
    grid-area: 1 / 4  / 3 / 6;
}

#pic7 {
    height: 93.8%;
    grid-area: 3 / 1 / 6 / 3;
}

#pic8 {
    grid-area: 3 / 3 / 6 / 6;
}

.buttons {
    padding: 0.4em;
    color: gold;
    text-shadow: 2px 2px 3px rgb(0, 0, 0), 3px 3px 4px rgb(222, 0, 252);
    border-radius: 1em;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Josefin Slab', serif;
    background: linear-gradient(129deg, rgba(172,182,229,1) 0%, rgba(134,253,232,1) 100%);
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 6em;
    width: 100vw;
    overflow-y: auto;
    text-align: center;
    border-top: 1px solid gold;
    border-bottom: 1px solid gold;
}

.close {
    color: white;
    font-size: 2em;
}

.close:hover, .close:focus {
    color: gold;
    cursor: pointer;
}

@media (max-width: 720px) {
    #navbar {
        grid-template-columns: 1fr;
        overflow: visible;
    }

    .navButtons {
        font-size: 1.35em;
        display: none;
        background: rgba(0,0,0,0.5);
        width: 100vw;
    }

    #navbar img {
        display: initial;
    }

    .twoParts {
        grid-template-columns: 1fr;
    }
    
    header h1 {
        font-size: 3.5em;
        margin-top: -2em; 
    }
    
    #secondRow {
        font-size: 0.3em;
    }
    
    #thirdRow {
        font-size: 0.2em;
    }

    #resourcesSection {
        padding: 3em 1em 3em 1em;
    }

    #reviewSection {
        padding: 1em 2em 0 2em;
    }

    #pricingSection {
        padding: 2em 1.5em 2em 1.5em;
    }

    #contactSection {
        grid-template-columns: 1fr;
    }

    #formButton {
        width: 50vw;
    }

    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        display: grid;
        top: 0;
    }
    .topnav.responsive a {
        display: grid;
        padding: 0.5em;
        top: 0;
        justify-self: left;
        animation-name: slideRight;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
    }
}

/* Set up keyframes for picture animations */
@keyframes slideRight {
    0% {
        right: 150;
        opacity: 0;
    }
    100% {
        right: 15;
        opacity: 1;
    }
}

@keyframes buttonFade {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, -8px);
    }

    50% {
        transform: translate(0, 0);
    }

    60% {
        transform: translate(0, -2px);
    }

    70% {
        transform: translate(0, 0);
    }

    80% {
        transform: translate(0, -1px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade2 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade3 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade4 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
